* {
  font-family: JetBrainsMono Nerd Font;
  opacity: 50%;
}

window {
  margin: 1px;
  border: 10px solid #2ac3de;
  border-radius: 50px;
}

#input {
  margin: 5px;
  border-radius: 50px;
  border: 0px;
  border-bottom: 0px;
  background-color: #1d202f;
  color: #c0caf5;
}

#inner-box {
  margin: 10px;
  background-color: #1d202f;
}

#outer-box {
  margin: 3px;
  padding: 20px;
  background-color: #1d202f;
  border-radius: 50px;
}

#text {
  margin: 5px;
  color: #c0caf5;
}

#entry:selected {
  background-color: #414868;
}

#text:selected {
  text-decoration-color: #c0caf5;
}
